.product_list{
    // margin-top: 3rem;
    // margin-left: 3rem;
    margin: 3rem auto;
    width: 90%;
    height: fit-content;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    gap: 3rem;
    flex-wrap: wrap;
}

.product_list_cart{
    margin-top: 3rem;
    margin-left: 3rem;
    width: 70%;
    height: fit-content;
    display: flex;
    align-content: space-around;
    justify-content: space-around;
    gap: 3rem;
    flex-wrap: wrap;
}

.pagination{
    margin: 3rem ;
}
.input{
    width: 400px;
    padding: 8px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
