.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 17px;

    img {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.header_text {
    font-size: 25px;
    align-items: center;
}